<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Arselantronik::My Express Web</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Arselantronik - Solusi Elektronika Anda</h1>
    <p>This is my home page text of Arselansoft</p>
    <p>Arselansoft copyrighted</p>
  </body>
</html>
